:root {
    --light-gray: #7a7a7a;
    --medium-gray: #363636;
    --dark-gray: #282828;
}

*{
    padding:0;
    margin:0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#sidebar-header {
    align-self: center;
    color: white;
    font-weight: bold;
    font-size: 26px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 6px;
    width: 90%;
    text-align: center;
    border-bottom: 1px solid var(--medium-gray);
}

#body-wrapper {
    display: flex;
    height: 100%;
}

#canvas-wrapper {
    background-color: var(--light-gray);
    flex-grow: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#canvas {
    z-index: 1;
    background-color: white;  
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
}

/** sidebar and icons **/

#sidebar {
    background-color: var(--dark-gray);
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    z-index: 2;
}

#tools {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#icon-link > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.sidebar-button {
    width: 50px;
    height: 40px;
    margin: 5px;
    background-color: var(--dark-gray);
    border: none;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    transform:scale(105%);
    background-color: var(--light-gray);
    cursor: pointer;
}

svg:not(#random-color-svg){
    height: 80%;
    fill: white;
}

.clicked {
    background-color: var(--light-gray);
}

/* color picker */
input[type="color"] {
	border: 3px solid black;
	width: 60px;
	height: 60px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

#color-wrapper {
    margin-top: 50px;
    position: relative;
    height: 120px;
    width: 100%;
}

#left-color {
    z-index: 2;
    position: absolute;
    top: 10px;
    left: 10px;
}

#right-color {
    position: absolute;
    top: 50px;
    left: 40%;
}

#swap-colors-btn {
    background-color: transparent;
    border: none;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;

    position: absolute;
    top: 80px;
    left: 10px;
}

#random-color-btn {
    background-color: transparent;
    border: none;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 75px;
}

#color-wrapper>button:hover {
    transform:scale(110%);
}

/** modals **/
#modal-backdrop{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.60);
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top:35%;
    left:35%;
    min-width: 400px;
    min-height: 200px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    border-radius: 20px;
    background-color: var(--dark-gray);
    padding: 10px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

#grid-size-body {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#grid-size-modal, #delete-modal{
    font-size: 24px;
    z-index: 4;
    text-align: center;
}

#delete-modal>p {
    width: 350px;
}

.modal-button{
    color: white;
    margin: 16px;
    padding: 15px;
    background-color: var(--medium-gray);
    border-radius: 10px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    width: 100px;
}

.modal-button:hover {
    transform:scale(105%);
    background-color: var(--light-gray);
}

#grid-size-modal > p:nth-child(1) {
    padding-bottom: 15px;
    width: 90%;
    border-bottom: 1px solid var(--medium-gray);
}

.hidden{
    display: none !important;
}


/** tool tips **/

.tooltip .tooltiptext {
    opacity: 0;
    transition: 0s;

    position: absolute;
    width: fit-content;
    left: 110%;
    top: -15%;
    z-index: 2;

    background-color: black;
    color: white;
    font-size: 12px;
    padding: 5px;
    border-radius: 6px;
    text-align: center;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

/* Show the tooltip on hover */
.tooltip:hover .tooltiptext {
    opacity: 0.8;
    transition-delay: 0.5s;
}